DATABASE_URL=postgresql://usuario:contraseña@localhost:5432/gimnasiodb
JWT_SECRET=cambia-esta-clave-por-una-de-al-menos-16-caracteres
JWT_ISSUER=gimnasio-api
JWT_AUDIENCE=gimnasio-client
PORT=3000
CORS_ORIGIN=http://localhost:4321
NODE_ENV=development
